<h2>{{titulo}}</h2>
<p>Añadir marca</p>
<p>
<!-- <input type="text" [(ngMode⁄l)]="miMarca" (blur)="onBlur()" > -->
<input type="text" [(ngModel)]="miMarca" (keyup.enter)="mostrarPalabra()" >
<button (click) = "get_Marca()">Mostrar marca</button>
<button (click) = "addMarca()">Añadir marca</button>
</p>
<strong>{{miMarca}}</strong>
<p>Compra las zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">{{indice + ' ' + marca}}
    <button (click)="borrarMarca(indice)">Borrar</button>
  </li>
</ul>
<p>Las deportivas que tenemos disponibles son:</p>
<ul>
  <li *ngFor="let deportiva of zapatillas">

    <span [ngStyle]="{
      'text-decoration': !deportiva.stock ? 'line-through' : 'none'
    }">
      {{deportiva.nombre}} - <strong>${{deportiva.precio}} </strong>
    </span>
    
   

    <span *ngIf="deportiva.precio <= 80"
      [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="deportiva.precio <= 80 ? 'yellow' : '#cccccc'"
      >¡EN OFERTA!</span>
    
  </li>
</ul>

<p>El color de la maoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase = "'yellow'">
    El color predominante es el <span [ngStyle]="{
      'background': color,
      'color': 'black'
    }"> amarillo </span>
  </li>
  <li *ngSwitchCase = "'red'">
    El color predominante es el <span [ngStyle]="{
      'background': color,
      'color': 'white'
    }"> rojo </span>
  </li>
  <li *ngSwitchCase = "'blue'">
    El color predominante es el <span [ngStyle]="{
      'background': color,
      'color': 'white'
    }"> azul </span>
  </li>
  <li *ngSwitchCase = "'orange'">
    El color predominante es el <span [ngStyle]="{
      'background': color,
      'color': 'black'
    }"> naranja </span>
  </li>
  
</ul>