<div [ngStyle]="{
    'background': config.fondo,
    'color': config.color,
    'padding': '20px',
    'border': '5px solid black',
    'border-color': config.color
  }">
  <h1>{{titulo}}</h1>
  <p>{{descripcion}}</p>
  
  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>&nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>&nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">VideoJuegos</a>&nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>&nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>&nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
  </nav>

  <hr>

  <router-outlet></router-outlet>
</div>